/* 横のスクロールを無くす */
html{
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #ebebeb;
}

.contents{
	padding: 0px 150px;
}

/*firstBlock backgroundの設定*/
#firstBlock{
	background-image:url("../images/img_pc/bg_top_content.png");
	background-position:center top; 
	background-repeat:no-repeat;
	margin:0px;
	padding:0px;
	width:100%;
}

/*yahooへのリンク*/
#firstBlock a{
	color: white;
	float: right;
	margin: 30px 50px;
	text-decoration: none;
}

#firstBlock a:hover {
 	text-decoration: underline;
}

#header{
	border: 1px solid red;
	padding: 20px;
	width: 100;
	clear:both;
}

#right{
	border: 1px solid red;
	width:50%;
	float:left;	
}

#left{
	border: 1px solid red;	
}

/*絶対行きたい！ほにゃにゃら*/
/*padding 上px、右px、下px、左px */
.title{
	padding: 80px 0px 0px 50px;
}

.qrCode{
	padding: 0px 0px 0px 50px;
}

.appStore{
	float:left;
	padding: 0px 40px 0px 0px;
	width : 200px;
}

/*iPhone*/
.iPhone{
	padding: 0px 0px 30px 100px;
}

#secondBlock{
	background-image: url("../images/img_pc/bg_img_01.jpg");
	background-repeat: no-repeat;
	height:510px;
	background-size:cover;
}

#center{
	border: 1px solid red;	
}

h2{
    color:white;
	text-align: center; 
	font-weight : normal;
}

p{
    color:white;
	text-align: center;
	line-height: 20px;
}

.smallIcon {
	padding: 50px 0px 0px 400px;
}

#secondBlockText{
	padding-bottom: 50px;
}

#blocks1{
	display: inline-block;
	float:left;
}

.screens1 {
    box-shadow: 2px 2px 2px 2px #CCC;
	background-color: #EEE;
	margin: 11px;
}

p.pinkText{
	color: #f83571;
	display: inline-block;
	float:left;
	padding:0px 65px;
}

p.greyText{
	float:left;
	margin:50px;
	clear: both;
	color: #666666;
}

#thirdBlock{
}

#showCard{
	text-align: right;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    min-width: 1060px;
    /*
	box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.2);
    */
}

#forthBlock{
	background-image: url("../images/img_pc/bg_img_02.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	height:510px;
}
