html{
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #F2F2F2;
}

p, h1, h2, h3, a {
	font-family: "ＭＳ ゴシック",sans-serif;
}

.contents{
	table-layout: fixed;
	padding: 0px 155px;
	margin: 0px;
}

/*padding 上px、右px、下px、左px */


/* firstBlock
------------------------------------ */
#firstBlock{
	position: relative;
    min-height: 640px;
	background-image:url("../images/img_pc/bg_top.jpg");	
}

#menu{
	width: 100%;
	height: 80px;
}

#right{	
	float: left;
	padding: 15% 0px 0px 50px;
}

#left{
	float: right;
	padding: 10% 0px 0px 0px;
}

#yahooLink {
	margin: 50px 0px 0px 0px ;
	float: right;
}

#firstBlock a{
	border-color: rgba(205,92,92,0);
	text-decoration: none;
	color : white;
}

#firstBlock a:hover{
	border-bottom: 1px solid rgba(255,255,255,1);
	transition: border-color 0.4s, color 0.4s;
}


.title{
	float: left;
	max-width: 240px;
	min-width: 200px;
	width: 100%;
}

.logo{
	display: none;
	height: 100%;
    width: 100%;
	max-width: 200px;
	clear: both;
	padding: 30px 0px 0px 0px;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

.headerIphone{
	height: 100%;
    width: 100%;
	max-width: 570px;
	min-width: 350px;
	margin: 0px 0px 0px 0px;
}

/* second block
------------------------------------ */

#secondBlock{
	background-image: url("../images/img_pc/bg_sora2.png");
	position: relative;
    min-height: 500px;
	height: 400px;
	widows: 100%;
	background-position: center top; 
	background-repeat: no-repeat;
}


/** js scroll
.indicator {
	position: fixed;
	right: 10px;
	top: 10px;
}
**/

#floatingImage{
	width : 1300px;
}

#moveDown{
	position: absolute;
	display: block;
	top: 200px;
}

/** js scroll **/

#secondText {
	background-color: rgba( 255, 255, 255, 0.75 );
    color: #333333;
	margin: 30px 30px;
	padding: 30px 30px;
	font-weight : normal;
	position: absolute;
	top: 90px;
	right: 100px;
	
}
/**
#secondBlock h2{
	background-color: rgba( 255, 255, 255, 0.75 );
    color: #333333;
	margin: 30px 30px;
	padding: 30px 30px;
	font-weight : normal;
	position: absolute;
	top: 140px;
	right: 100px;
}
**/

#boxOfScreens{
	display: inline-block;
	float: left;
	margin: 50px 0px 0px 0px;
}

/** iPhoneのスクリーンのbox **/
.shadow {
	box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
	margin: 0px 5px;
}

p.pinkText{
	color: #f83571;
	text-align: center;
}

p.discription{
	color: dimgrey;
	width: 210px;
}

p.discription2{
	color: dimgrey;
}

ul {
    list-style-type: none;
}

li {
    float: left;
	margin: 0px 0px 0px 3px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}

/** iPhoneのスクリーンdropDownのテキスト **/
p.greyText{
	float: left;
	padding: 0px 0px 0px 50px;
	color: #666666;
}

#showBlockBlueText{
	border-color: rgba(205,92,92,0);
	float: right;
	margin: 0xp 0px 0px 100px;
	padding: 0px 0px 0px 0px;
	text-align: right;
	color: dodgerblue;
}

#showBlockBlueText:hover{

	text-decoration: underline;
}

#dropDownblocks{
	clear: both;
}

/* forthBlock
------------------------------------ */
#forthBlock{
	clear: both;
	background-image: url("../images/img_pc/yuiko6.gif");
	background-size:cover;
	background-repeat: no-repeat;
	border: solid white 0.1px;
}

	
.dropdown-content {
   display: none;
   min-width: 1060px;
   padding: 40px 16px;
}

#forthText{
	position: relative;
	background-color: rgba( 255, 255, 255, 0.75 );
    color: #333333;
	margin: 0px 0px 260px 0px;
	padding: 20px 40px;
	font-weight : normal;
	top: 120px;
	max-width:480px;
}

/** iPhoneのスクリーンの影 **/
#boxOfScreens2 {
	display: inline-block;
	margin: 50px 0px 50px 0px;
}

#shadow-margin {
	box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
	margin: 50px 0px 0px 10px;
}

/* #sixthBlock
------------------------------------ */

#sixthBlock {
	border: solid white 0.1px;
	background-image: url("../images/img_pc/greenTrain.gif");
	background-size:cover;
}


#sixthBlock h2{
	background-color: rgba( 255, 255, 255, 0.75 );
    color: #333333;
	margin: 0px 0px 250px 0px;
	padding: 30px 30px;
	width: 350px;
	font-weight : normal;
	position: relative;
	top: 120px;
	left: 550px;
}

#box3_shadow_margin {
	width: 175px;
	display: table-cell;
	vertical-align: middle;
	margin: 40px auto 0px auto;
}

.smallIcon {
	display: block;
    margin: 0 auto;
}

/* seventhBlock
------------------------------------ */
#seventhBlock ul {
	table-layout: fixed;
	list-style-type: none;
}

#seventhBlock li {
	table-layout: fixed;
	margin: 50px 0px 60px 30px;
	width: 270px;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}

/* eithBlock
------------------------------------ */
#eithBlock {
	clear: both;
	background-image: url("../images/img_pc/temple.gif");
	background-size: cover;
	background-repeat: no-repeat;
	border: solid white 0.1px;
}

h2.greyTitle{
	color: #555555;
	font-weight : normal;
}

#eithBlockText{
	color: white;
	position: relative;
	top: 250px;
	left: 360px;
}

#appStore{
	float: center;
	margin: 0px 0px 40px 43px;
}

/* footer
------------------------------------ */
#footer {
	position: relative;
}

.copyRightInfo {
    color: #666;
    line-height: 1.8;
    margin: 0 auto 50px;
    padding-bottom: 280px;
    border-bottom: 1px solid #cdcdcd;
}

#footer li{
	list-style-type: disc;
	width: 100%;
	color: #666;
}

#footer ul{
	border-bottom: 1px solid #cdcdcd;	
	line-height: 1.8;
}

#goTopText{
	background-color: white;
	width: 170px;
	margin: 30px 0px 0px 0px;
	padding: 15px 0px 15px 20px;
	float :right;
}

#footer a{
	border-color: rgba(205,92,92,0);
	text-align: center;
    color: #0090ff;
	text-decoration: none;
}

#footer a:hover{
	/** ふわっとtransitionを使ってエフェクト **/
	border-bottom: 1px solid rgba(0,153,255,1);
	transition: border-color 0.4s, color 0.4s;
}

#footer p{
	color: #888888;
}

#footerLinks{
	text-align: center;
}

#balloon{
	position: absolute;
	right: 170px;
	top: 20px;
}