html{
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #F2F2F2;
}

.contents{
	padding: 0px 155px;
	margin: 0px;
}

/*padding 上px、右px、下px、左px */

/*firstBlock*/
#firstBlock{
	position: relative;
    min-height: 635px;
	background-position:center top; 
	background-repeat:no-repeat;
	background-image:url("../images/img_pc/bg_top.jpg");	
}

/*yahooへのリンク*/
#yahooLink {
	padding: 50px 0px 0px 0px;

}
#yahooLink a{
	border-color: rgba(205,92,92,0);
	text-decoration: none;
	color : white;
}

#yahooLink a:hover{
	border-bottom: 1px solid rgba(255,255,255,1);
	transition: border-color 0.4s, color 0.4s;
}

#left{
	width: 350px;
	height: 500px;
	padding: 0px 20px 0 48px;
}

#right{
	position: absolute;
	width: 642px;
	height: 644px;
    top: 0px;
    left: 50%;
    overflow: hidden;
}

.title{
	display: inline-block;
	width: 330px;
	margin: 165px 0px 0px 0px;
}

.headerIphone{
	position: absolute;
	top: 140px;
	width: 580px;
}

/*secondBlock*/
#secondBlock{
	background-image: url("../images/img_pc/bg_sora2.png");
	position: relative;
    min-height: 500px;
	height: 400px;
	widows: 100%;
	background-position: center top; 
	background-repeat: no-repeat;
}


/** js scroll
.indicator {
	position: fixed;
	right: 10px;
	top: 10px;
}
**/

#floatingImage{
	width : 100%;
}

#moveDown{
	position: absolute;
	display: block;
	top: 200px;
}

/** js scroll **/

#secondBlock h2{
	background-color: rgba( 255, 255, 255, 0.75 );
    color: #333333;
	margin: 30px 30px;
	padding: 30px 30px;
	font-weight : normal;
	position: absolute;
	top: 140px;
	right: 100px;
}

#boxOfScreens{
	display: inline-block;
	float: left;
	margin: 50px 0px 0px 0px;
}

/** iPhoneのスクリーンのbox **/
.shadow {
	box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
	margin: 0px 5px;
}

p.pinkText{
	color: #f83571;
	text-align: center;
}

p.discription{
	color: dimgrey;
	width: 210px;
}

p.discription2{
	color: dimgrey;
}

ul {
    list-style-type: none;
}

li {
    float: left;
	margin: 0px 0px 0px 3px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}

/** iPhoneのスクリーンdropDownのテキスト **/
p.greyText{
	float: left;
	padding: 0px 0px 0px 50px;
	color: #666666;
}

#showBlockBlueText{
	border-color: rgba(205,92,92,0);
	float: right;
	margin: 0xp 0px 0px 100px;
	padding: 0px 0px 0px 0px;
	text-align: right;
	color: dodgerblue;
}

#showBlockBlueText:hover{

	text-decoration: underline;
}

#dropDownblocks{
	clear: both;
}

/** forthBlock **/
#forthBlock{
	clear: both;
	background-image: url("../images/img_pc/yuiko6.gif");
	background-size:cover;
	background-repeat: no-repeat;
	border: solid white 0.1px;
}

	
.dropdown-content {
   display: none;
   min-width: 1060px;
   padding: 40px 16px;
}
	
#forthBlock h2{
	position: relative;
	background-color: rgba( 255, 255, 255, 0.75 );
    color: #333333;
	margin: 0px 0px 270px 0px;
	padding: 30px 30px;
	width:350px;
	font-weight : normal;
	top: 120px;
}

/** iPhoneのスクリーンの影 **/
#boxOfScreens2 {
	display: inline-block;
	margin: 50px 0px 50px 0px;
}

#shadow-margin {
	box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
	margin: 50px 0px 0px 10px;
}

#sixthBlock {
	border: solid white 0.1px;
	background-image: url("../images/img_pc/greenTrain.gif");
	background-size:cover;
}


#sixthBlock h2{
	background-color: rgba( 255, 255, 255, 0.75 );
    color: #333333;
	margin: 0px 0px 250px 0px;
	padding: 30px 30px;
	width: 350px;
	font-weight : normal;
	position: relative;
	top: 120px;
	left: 550px;
}

#box3_shadow_margin {
	width: 175px;
	display: table-cell;
	vertical-align: middle;
	margin: auto;
}

.smallIcon {
	display: table-cell;
	vertical-align: middle;
	margin: auto;
	clear:both;
	padding: 3px 0px 0px 10px;
}

#seventhBlock ul {
	list-style-type: none;
}

#seventhBlock li {
	margin: 50px 0px 60px 30px;
	width: 270px;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}

#eithBlock {
	clear: both;
	background-image: url("../images/img_pc/temple.gif");
	background-size: cover;
	background-repeat: no-repeat;
	border: solid white 0.1px;
}

#footerImage{
	margin: 100px 0px 0px 50px;
}

#appStore{
	float: center;
	margin: 0px 0px 40px 43px;
}

h2.greyTitle{
	color: #555555;
	font-weight : normal;
}

#eithBlockText{
	color: white;
	position: relative;
	top: 330px;
	left: 405px;
}

/** footer **/
#footer {
	position: relative;
}

.copyRightInfo {
    color: #666;
    line-height: 1.8;
    margin: 0 auto 50px;
    padding-bottom: 280px;
    border-bottom: 1px solid #cdcdcd;
}

#footer li{
	list-style-type: disc;
	width: 100%;
	color: #666;
}

#footer ul{
	border-bottom: 1px solid #cdcdcd;	
	line-height: 1.8;
}

#goTopText{
	background-color: white;
	width: 170px;
	margin: 30px 0px 0px 0px;
	padding: 15px 0px 15px 20px;
	float :right;
}

#footer a{
	border-color: rgba(205,92,92,0);
	text-align: center;
    color: #0090ff;
	text-decoration: none;
}

#footer a:hover{
	/** ふわっとtransitionを使ってエフェクト **/
	border-bottom: 1px solid rgba(0,153,255,1);
	transition: border-color 0.4s, color 0.4s;
}

#footer p{
	color: #888888;
}

#footerLinks{
	text-align: center;
}

#balloon{
	position: absolute;
	right: 170px;
	top: 20px;
}